* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input {
  border: none;
  outline: none;
}
button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
li {
  list-style-type: none;
}
.app-container {
  width: 600px;
  margin: 100px auto;
  background: #fff;
  color: rgb(77, 77, 77);
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
  
}
.app-container h1 {
  text-align: center;
  height: 80px;
  font-size: 60px;
  line-height: 80px;
  color: pink;
}
